* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.container {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.reviews {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 80px;
}

.review-body {
    position: relative;
    width: 45%;
    min-height: 60px;

    border-radius: 15px;

}

.review-name {
    background-color: #cdeee2;
    padding: 16px;
    padding-bottom: 32px;
    position: absolute;
    border-radius: 15px;
    top: -45px;
    left: 0px;
    z-index: 1;

}

.review-name:hover {
    cursor: pointer;
}

.review-text {
    width: 100%;
    border: 3px solid #cdeee2;
    background-color: #fff;
    border-radius: 15px;
    padding: 16px;
    position: absolute;
    word-wrap: break-word;
    z-index: 99999;
    
}

.review-delete {
    background-color: #c75252;
    color: #c75252;
    position: absolute;
    border-radius: 15px;
    bottom: -10px;
    right: 1px;
    border: 0;
    padding: 32px 16px 8px 16px;
    z-index: 1;
    transition: bottom 0.2s ease-out;
}


.review-delete:hover {
    cursor: pointer;
    bottom: -35px;
    color: #fff;
}

.show-all {
    align-self: center;
    border: 0;
    background-color: #cdeee2;
    border-radius: 15px;
    width: 40%;
    height: 60px;
    font-size: 16px;
    margin-bottom: 20px;
}

.show-all:hover {
    cursor: pointer;
}
.add-review-link {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60px;
    text-decoration: none;
    font-size: 16px;
    background-color: #cdeee2;
    border-radius: 15px;
    
}

.add-review-link:visited {
    color:black;
}

/* add reviews */

#form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.product-name {
    margin-bottom: 20px;
    border: 3px solid #cdeee2;
    border-radius: 5px;
}

textarea {
    border: 3px solid #cdeee2;
    border-radius: 5px;
    outline: none;
    font-family: "Jost", sans-serif;
    margin-bottom: 10px;
}